<%= form_for(@questions_anwer) do |f| %>
  <% if @questions_anwer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questions_anwer.errors.count, "error") %> prohibited this questions_anwer from being saved:</h2>

      <ul>
      <% @questions_anwer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
