<div class="container" ng-controller="MainCtrl" >
  <p>
    <%=image_tag("logo-share-pequeno.jpg", alt: "SHARE - Smart Human Academic Resource")%>
  </p>
  <div class="hero-unit"> 
    <p class="text-center">
      <h2>Âncoras de carreira</h2>
    </p>
    <button class="btn btn-large" ng-click="create()">Save</button>
    <div ng-switch="getCurrentStep()">
      <div ng-switch-when="objective">
        <h3>Objetivo</h3>
        <p>O objetivo deste inventário é auxiliar você, aluno iniciante, a fazer uma primeira definição de meta profissional, utilizando o conhecimento dos tipos de carreiras. Posteriormente, você poderá mudar sua meta e pesquisar novas possibilidades.</p> 
      <p>A âncora de carreira é uma combinação da autopercepção dos motivos e valores que representam o que cada um considera sucesso profissional. Tais âncoras podem indicar que caminhos podem levá-lo a sentir-se realizado.</p>
      <p>A âncora de carreira é uma combinação da autopercepção dos motivos e valores que representam o que cada um considera sucesso profissional. Tais âncoras podem indicar que caminhos podem levá-lo a sentir-se realizado. </p>
      </div>
      <div ng-switch-when="inventory">
        <h3>Inventário das orientações de carreira</h3>
        <p>A finalidade deste questionário é estimular sua reflexão sobre o que você valoriza na busca da realização profissional. É muito fácil ser tendencioso nas respostas, mas se você for sincero poderá conhecer um pouco mais de si mesmo para começar sua caminhada na preparação de sua carreira profissional.</p> 
        <p>Procure responder às perguntas tão honestamente quanto possível e trabalhar rapidamente.</p>
      </div>
      <div ng-switch-when="instructions">
        <h3>Como classificar os itens</h3>
        <p>Para cada um dos próximos 40 itens,  classifique o quanto este item é verdadeiro para você em geral, atribuindo-lhe um número de 1 a 6. Quanto maior o número, mais este item é verdadeiro para você. Por exemplo, se o item diz “Sonho em ser o presidente de uma empresa”, você o classificaria assim:</p>
        <ul>
          <li>“1” se a afirmação nunca é verdadeira para você</li>
          <li>“2” ou “3” se a afirmação é verdadeira para você ocasionalmente</li>
          <li>“4” ou “5” se a afirmação é verdadeira para você com frequência</li>
          <li>“6” se a afirmação é sempre verdadeira para você</li>
        </ul>
        <p>Passe para a próxima página e comece sua autoavaliação.</p>
      </div>
      <div ng-switch-when="personal">
        <fieldset>
          <label>Nome</label>
          <input type="text" ng-model="answer.name">
          <label>Email</label>
          <input type="text" ng-model="answer.email">
          <label>Instituição de ensino</label>
          <input type="text" ng-model="answer.institution">
          <label>Curso</label>
          <input type="text" ng-model="answer.course">
        </fieldset>
      </div>
      <div ng-switch-when="questions1">
        <ul>
          <li ng-repeat="question in answer.questions | startFrom:0 | limitTo: 5">
          {{question.text}}
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="1">1
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="2">2
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="3">3
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="4">4
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="5">5
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="6">6

          </li>
        </ul>
      </div>
      <div ng-switch-when="questions2">
        <ul>
          <li ng-repeat="question in answer.questions | startFrom:5 | limitTo: 5">
          {{question.text}}
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="1">1
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="2">2
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="3">3
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="4">4
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="5">5
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="6">6

          </li>
        </ul>
      </div>
     <div ng-switch-when="questions3">
        <ul>
          <li ng-repeat="question in answer.questions | startFrom:10 | limitTo: 5">
          {{question.text}}
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="1">1
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="2">2
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="3">3
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="4">4
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="5">5
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="6">6

          </li>
        </ul>
      </div>
     <div ng-switch-when="questions4">
        <ul>
          <li ng-repeat="question in answer.questions | startFrom:15 | limitTo: 5">
          {{question.text}}
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="1">1
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="2">2
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="3">3
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="4">4
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="5">5
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="6">6

          </li>
        </ul>
      </div>
     <div ng-switch-when="questions5">
        <ul>
          <li ng-repeat="question in answer.questions | startFrom:20 | limitTo: 5">
          {{question.text}}
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="1">1
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="2">2
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="3">3
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="4">4
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="5">5
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="6">6

          </li>
        </ul>
      </div>
     <div ng-switch-when="questions6">
        <ul>
          <li ng-repeat="question in answer.questions | startFrom:25 | limitTo: 5">
          {{question.text}}
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="1">1
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="2">2
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="3">3
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="4">4
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="5">5
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="6">6
          </li>
        </ul>
      </div>
      <div ng-switch-when="questions7">
        <ul>
          <li ng-repeat="question in answer.questions | startFrom:30 | limitTo: 5">
          {{question.text}}
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="1">1
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="2">2
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="3">3
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="4">4
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="5">5
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="6">6
          </li>
        </ul>
      </div>
      <div ng-switch-when="questions8">
        <ul>
          <li ng-repeat="question in answer.questions | startFrom:35 | limitTo: 5">
          {{question.text}}
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="1">1
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="2">2
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="3">3
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="4">4
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="5">5
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="6">6
          </li>
        </ul>
      </div>



    </div>
    <div class="text-right">
      <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</a>
      <a class="btn btn-primary" ng-click="handleNext(dismiss)">{{getNextLabel()}}</a>
    </div>
      <div style="display: none">
      <span>currently selected for first {{answer.questions[0].answer}}</span>
      <button type="button" class="btn btn-large btn-primary">Salvar</button> 
      <table class="table-striped">
      <tr ng-repeat="question in answer.questions">
        <td>
          <p>{{question.text}}</p>
        </td>
        <td>
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="1">1
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="2">2
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="3">3
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="4">4
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="5">5
          <input type="radio" name="question{{$index}}" ng-model="question.answer" value="6">6
        </td>
      </tr>
    </div>
  </div>
</div>
