<div class="container" ng-controller="MainCtrl" >
  <div class="hero-unit"> 
    <table>
   <tr ng-repeat="question in questions">
      <td>
        {{question.text}}
      </td>
      <td>
        bla bla
      </td>
    </tr> 
  </div>
</div>
