<div class="container" ng-controller="MainCtrl" >
  <div class="top">
    <div class="logo">
      <p>
        <%=image_tag("logo-share-pequeno.jpg", alt: "SHARE - Smart Human Academic Resource")%>
      </p>
    </div>
    <div class="text-center title">
      Âncoras de Carreira
      <p class="reference">Extraído de Career Anchors de Edgar H. Schein</p>
    </div>
  </div>
  <div class="hero-unit"> 
    <div ng-switch="getCurrentStep()">
      <div ng-switch-when="objective"> 
        <div class="content">
          <h3>Objetivo</h3>
          <p>Este inventário parte da sua auto percepção para identificar o que você valoriza como critério de sucesso profissional. Tais âncoras podem indicar que caminhos o levam a sentir-se realizado profissionalmente.</p>
          <p>Nosso objetivo é auxiliá-lo a identificar uma meta profissional para a fase 1 do ciclo Share, utilizando o conhecimento dos tipos de carreiras. </p>
          <p>Se você já tem uma meta, responda ao inventário e compare sua âncora de carreira com sua meta. Analise afinidades e dissonâncias. Se tiver dúvidas, escreva para “Tenho dúvida” e poderemos lhe orientar.</p>
          <p>Se você ainda não tem uma meta, responda ao inventário para conhecer seu perfil de carreira. Posteriormente, você poderá mudar sua meta e pesquisar novas possibilidades.</p>
      </div>
      <div class="text-right buttons">
        <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
        <button ng-disabled="false" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
      </div>
    </div>
    <div ng-switch-when="inventory">
      <div class="content">
        <h3>Orientações para preenchimento</h3>
        <p>É muito fácil ser tendencioso nas respostas, mas se você for sincero poderá conhecer um pouco mais de si mesmo para começar a preparação de sua carreira profissional. Procure responder às perguntas tão honestamente quanto possível e trabalhar rapidamente.</p>
     </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="false" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
 
    </div>
    <div ng-switch-when="instructions">
      <div class="content">
        <h3>Como classificar os itens</h3>
        <p>Para cada um dos próximos 40 itens,  classifique o quanto este item é verdadeiro para você em geral, atribuindo-lhe um número de 1 a 6. Quanto maior o número, mais este item é verdadeiro para você. Por exemplo, se o item diz “Sonho em ser o presidente de uma empresa”, você o classificaria assim:</p>
        <ul>
          <li>“1” se a afirmação nunca é verdadeira para você</li>
          <li>“2” ou “3” se a afirmação é verdadeira para você ocasionalmente</li>
          <li>“4” ou “5” se a afirmação é verdadeira para você com frequência</li>
          <li>“6” se a afirmação é sempre verdadeira para você</li>
        </ul>
        <p>Passe para a próxima página e comece sua autoavaliação.</p>
        </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="false" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
      </div>
    </div>
    <div ng-switch-when="personal" >
      <div class="content">
        <h3>Dados pessoais</h3>
        <form name="personalDataForm">
          <fieldset>
            <label>Nome</label>
            <input class="span5" type="text" ng-model="answer.name" required>
            <label>Email</label>
            <input class="span5" type="email" ng-model="answer.email" required>
            <label>Instituição de ensino</label>
            <input class="span5" type="text" ng-model="answer.institution" required>
            <label>Curso</label>
            <input class="span5" type="text" ng-model="answer.course" required>
          </fieldset>
        </form>
      </div>
      <div class="text-right buttons">
        <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
        <button ng-disabled="!personalDataForm.$valid" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
      </div>
      <div ng-switch-when="questions1" >
        <div class="content">
          <h3></h3>
            <div class="row question-row" ng-repeat="question in answer.questions | startFrom:0 | limitTo: 5">
              <ng-include src="'mySnippet'"></ng-include>
            </div>
        </div>
        <div class="text-right buttons">
            <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
            <button ng-disabled="!validate(0)" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
      </div>
      <div ng-switch-when="questions2">
        <div class="content">
          <h3></h3>
          <div class="row question-row"  ng-repeat="question in answer.questions | startFrom:5 | limitTo: 5">
            <ng-include src="'mySnippet'"></ng-include>
          </div>
        </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="!validate(5)" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
      </div>
      <div ng-switch-when="questions3">
        <div class="content">
          <h3></h3>
          <div class="row question-row" ng-repeat="question in answer.questions | startFrom:10 | limitTo: 5">
            <ng-include src="'mySnippet'"></ng-include>
          </div>
        </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="!validate(10)" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
      </div>
      <div ng-switch-when="questions4">
        <div class="content">
          <h3></h3>
          <div class="row question-row" ng-repeat="question in answer.questions | startFrom:15 | limitTo: 5">
            <ng-include src="'mySnippet'"></ng-include>
          </div>
        </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="!validate(15)" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
      </div>
      <div ng-switch-when="questions5">
        <div class="content">
          <h3></h3>
          <div class="row question-row" ng-repeat="question in answer.questions | startFrom:20 | limitTo: 5">
            <ng-include src="'mySnippet'"></ng-include>
          </div>
        </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="!validate(20)" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
      </div>
      <div ng-switch-when="questions6">
        <div class="content">
          <h3></h3>
          <div class="row question-row" ng-repeat="question in answer.questions | startFrom:25 | limitTo: 5">
            <ng-include src="'mySnippet'"></ng-include>
          </div>
        </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="!validate(25)" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
      </div>
      <div ng-switch-when="questions7">
        <div class="content">
          <h3></h3>
          <div class="row question-row" ng-repeat="question in answer.questions | startFrom:30 | limitTo: 5">
            <ng-include src="'mySnippet'"></ng-include>
          </div>
        </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="!validate(30)" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
      </div>
      <div ng-switch-when="questions8">
        <div class="content">
          <h3></h3>
          <div class="row question-row" ng-repeat="question in answer.questions | startFrom:35 | limitTo: 5">
            <ng-include src="'mySnippet'"></ng-include>
          </div>
        </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="!validate(35)" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
      </div>
      <div ng-switch-when="select">
        <div class="content">
          <h3></h3>
          <p>Agora, reveja suas respostas e localize todos os itens aos quais deu pontos mais altos.</p>
          <p>Selecione os TRÊS itens que lhe pareçam os mais verdadeiros.</p>
          <div class="content-scroll">
            <div class="row question-row" ng-repeat="question in availableAnswers">
              <div class="answers-for-select">
                <div class="span7 question-text">
                  {{question.text}}
                </div>
                  <div class="span3 text-right btn-toolbar">
                    <div class="btn-group" bs-buttons-checkbox>

                      <input type="checkbox" class="btn" ng-model="question.selected" ng-class="{'btn-primary': question.selected}">{{question.answer}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
          <button ng-disabled="!validate()" class="btn btn-primary btn-large" ng-click="handleNext(dismiss)">{{getNextLabel()}}</button>
        </div>
      </div>
    </div>
    <div ng-switch-when="result">
      <div class="content">
        <h3>Resultado</h3>
        <div class="content-scroll">
          <div ng-show="isTopCompetency('Tecnica')">
            <h4>Competência Técnica/Funcional</h4>
            <p>Se sua âncora de carreira é a competência em alguma área técnica ou funcional, você não abriria mão da oportunidade de aplicar suas habilidades nessa área e de continuar desenvolvendo essas habilidades a um nível cada vez mais alto. Você obtém seu senso de identidade com o exercício dessas habilidades e sente-se totalmente realizado quando seu trabalho lhe permite ser desafiado nessas áreas. Você pode estar disposto a gerenciar outras pessoas em sua área técnica ou funcional, mas não se interessa pelo gerenciamento em si e evitaria a gerência geral, porque precisaria desistir de sua própria área de especialidade.</p>
            <p><strong>Esta Âncora tem afinidades com a carreira Técnica.</strong></p>
          </div>
          <div ng-show="isTopCompetency('Gerencia')">
            <h4>Competência para Gerência Geral</h4>
            <p>Se sua ancora de carreira é a competência para a gerência geral, você não abriria mão da oportunidade de subir a um nível alto o suficiente que lhe permita integrar os esforços de outras pessoas em suas funções e ser responsável pelo resultado de determinada unidade da organização. Você quer total responsabilidade pelos resultados e identifica seu próprio trabalho com o sucesso da organização para qual trabalha. Se você está em uma área técnica ou funcional atualmente, aceita a situação como uma experiência de aprendizado necessária; entretanto, ambiciona alcançar um cargo com funções generalistas o quanto antes. Ter um alto cargo gerencial técnico não interessa.</p>
            <p><strong>Esta Âncora tem afinidade com a Carreira Executiva (Gerencial).</strong></p>
          </div>
          <div ng-show="isTopCompetency('Autonomia')">
            <h4>Autonomia/Independência</h4>
            <p>Se sua âncora de carreira é a autonomia/independência, você não renunciaria à oportunidade de definir seu próprio trabalho, à sua própria maneira. Se você está numa organização, quer permanecer em funções que lhe permitam flexibilidade com relação a quando e como trabalhar. Se você não tolera regras e restrições organizacionais de qualquer espécie, busca ocupações nas quais tenha a liberdade que procura, tais como ensino ou consultoria. Para manter sua autonomia, você recusa oportunidades de promoção ou avanço. Talvez você até procure ter seu próprio negócio para alcançar a sensação de autonomia; entretanto este motivo não é o mesmo que a criatividade empreendedora descrita mais adiante.</p>
            <p><strong>Esta Âncora tem afinidade com a carreira de Profissional Liberal</strong></p>
          </div>
          <div ng-show="isTopCompetency('Seguranca')">
            <h4>Segurança/Estabilidade</h4>
            <p>Se sua âncora de carreira é a segurança/estabilidade, você não abriria mão da sua segurança ou estabilidade no trabalho ou organização. Sua principal preocupação é alcançar a sensação de ser bem sucedido, para ficar tranquilo. A âncora está demonstrada na preocupação pela segurança financeira (tais como aposentadoria e planos de pensão) ou segurança no emprego. Essa estabilidade pode significar trocar sua lealdade e disposição de fazer qualquer coisa que seu empregador lhe peça por uma promessa de garantia de emprego. Você se preocupa menos com o conteúdo do seu trabalho e o posto que pode alcançar, embora  possa chegar a um alto nível, se seus talentos assim o permitirem. No que se refere a autonomia, todo mundo tem certas necessidades de segurança e estabilidade, especialmente em épocas que os encargos financeiros são grandes ou quando se está para enfrentar a aposentadoria. Entretanto, as pessoas ancoradas desta maneira estão sempre preocupadas com essas questões e constroem toda sua autoimagem em torno do gerenciamento da segurança e estabilidade.</p>
            <p><strong>Esta Âncora tem afinidade com a carreira de Servidor Público.</strong></p>
          </div>
          <div ng-show="isTopCompetency('Desafio')">
            <h4>Desafio puro</h4>
            <p>Se sua âncora de carreira é desafio puro, você não abriria mão da oportunidade de trabalhar na solução de problemas aparentemente insolúveis, para vencer oponentes duros ou superar obstáculos difíceis. Para você, a única razão significativa para buscar um trabalho ou carreira é que este lhe permita vencer o impossível. Algumas pessoas encontram esse desafio puro em alguns trabalhos intelectuais, como por  exemplo o engenheiro interessado apenas em desenhos extremamente difíceis; outras encontram seu desafio em situações complexas, tais como um consultor estrategista, interessado apenas em clientes à beira da falência e que já esgotaram todos os recursos; algumas o encontram na competição interpessoal, como o atleta profissional ou o vendedor que define cada venda como uma vitória ou derrota. A novidade, variedade e dificuldade tornam-se um fim em si e se alguma coisa é fácil, imediatamente torna-se monótona.</p>
            <p><strong>Esta Âncora tem afinidade com as carreiras Empreendedora, Técnica, Política e também Acadêmica.</strong></p>
          </div>
          <div ng-show="isTopCompetency('Criatividade')">
            <h4>Criatividade Empreendedora</h4>
            <p>Se sua âncora de carreira é a criatividade empreendedora, você não renunciaria à oportunidade de criar sua própria organização ou empreendimento, desenvolvidas com sua própria capacidade e disposição de assumir riscos e superar obstáculos. Você quer provar ao mundo que pode criar um empreendimento que seja o resultado do seu próprio esforço. Talvez você trabalhe para outros em alguma organização, enquanto aprende e avalia oportunidades futuras, mas seguirá seu próprio caminho assim que sentir que tem condições para isto. Você quer que seu empreendimento seja financeiramente bem sucedido, como prova de sua capacidade.</p>
            <p><strong>Esta Âncora tem afinidade com a carreira Empreendedora.</strong></p>
          </div>
          <div ng-show="isTopCompetency('Servico')">
            <h4>Serviço/Dedicação a uma Causa</h4>
            <p>Se sua âncora de carreira é serviço/dedicação a uma causa, você não renunciaria à oportunidade de procurar um trabalho onde pudesse realizar alguma coisa útil, como por exemplo tornar o mundo um lugar melhor para se viver, solucionar problemas ambientais, melhorar a harmonia entre as pessoas, ajudar aos outros, melhorar a segurança das pessoas, curar doenças através de novos produtos, etc. Você busca essas oportunidades, mesmo que isto signifique mudar de organização e não aceita transferências ou promoções que o desviem do trabalho que preencha esses valores.</p>
            <p><strong>Esta Âncora tem afinidade com a carreira Acadêmica e também com áreas do Serviço Público.</strong>Caso sua Âncora Empreendedora tenha dado um resultado alto, é possível pensar em criação de ONGs e outras atividades e projetos com objetivos sociais ou mesmo na <strong>Carreira política</strong>.</p>
          </div>
          <div ng-show="isTopCompetency('Estilo')">
            <h4>Estilo de Vida</h4>
            <p>Se sua âncora de carreira é o estilo de vida, você não abriria mão de uma situação que lhe permita equilibrar e integrar suas necessidades pessoais, familiares e as exigências de sua carreira. Você deseja fazer com que todos os principais segmentos de sua vida trabalhem em conjunto para um todo integrado e, portanto, precisa de uma situação de carreira que lhe dê suficiente flexibilidade para alcançar tal integração. Você aceita sacrificar alguns aspectos da sua carreira (por exemplo, uma mudança geográfica que fosse uma promoção, mas que desestruturaria toda sua situação de vida), e você define o sucesso em termos mais amplos do que simplesmente sucesso na carreira. Você sente que sua identidade está mais vinculada ao modo de viver sua vida como um todo, onde você se estabelece, como lida com sua situação familiar e como você se desenvolve, do que com qualquer trabalho ou organização.</p>
            <p><strong>Esta Âncora tem afinidade com as carreiras de Profissional Liberal, de Servidor Público, Técnica e também Acadêmica.</strong></p>
          </div>

        </div>
      </div>
        <div class="text-right buttons">
          <button class="btn btn-large" ng-click="handlePrevious()" ng-show="!isFirstStep()">Anterior</button>
        </div>
  </div>
</div>

<script type='text/ng-template' id="mySnippet">
  <div class="span7 question-text">{{question.text}}</div>
  <div class="span3 text-right btn-toolbar">
  <div class="btn-group" ng-model="question.answer" bs-buttons-radio required>
    <button type="button" class="btn" ng-class="{'btn-primary': question.answer == 1}" value="1">1</button>
    <button type="button" ng-class="{'btn-primary': question.answer == 2}" class="btn" value="2">2</button>
    <button type="button" ng-class="{'btn-primary': question.answer == 3}" class="btn" value="3">3</button>
    <button type="button" ng-class="{'btn-primary': question.answer == 4}" class="btn" value="4">4</button>
    <button type="button" ng-class="{'btn-primary': question.answer == 5}" class="btn" value="5">5</button>
    <button type="button" ng-class="{'btn-primary': question.answer == 6}" class="btn" value="6">6</button>
  </div>
</div>
</script>
