<div class="container" ng-controller="MainCtrl" >
  <div class="hero-unit"> 
   <div ng-repeat="lala in questions">
      <p>{{lala.text}}</p>
    </div> 
  <p>{{questions[0].text}}<p>
  </div>

</div>
