<div class="container">
  <div class="hero-unit">
    <h1>Alooo criançada</h1>
    <input type="text" ng-model="yourName" palceholder="Enter a name here">
    <h1>Hello {{yourName}}</h1>
  </div>
</div>
