/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
div.question-row {
  background-color: gainsboro;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10;
  border-radius: 10px;
  margin-left: 10px;
}

.top {
  display: block;
  overflow: auto;
}

.logo {
  float: left;
}

.title {
  display: block;
  margin-top: 20px;
  font-size: 24px;

}

.buttons {
}
.reference {
  font-size: 15px;
}

.content {
  height: 395px;
  margin: 0px;
  padding: 0px;
/*  border-style: solid;
  border-color: red;
  border-size: 2px;
 */ 
}

.content-scroll {
  height: 300px;
  overflow: auto;
}


.question-text {
  font-size: 15px;
}
